// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chatroom-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.chatroom-container div {
  font-size: 15px;
}



button.load-button {
  width: 200px;
}

.message-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  box-sizing: border-box;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
}

.channel-info * {
  height: 20px;
}

.channel-info {
  display: flex;
  align-items: baseline;
  padding-top: 2.5px;
}

span {
  font-size: 15px;
}

.message-list * {
  font-family: Lato,sans-serif;
}

.message-info div {
  display: flex;
}

.message-item div * {
  padding-right: 5px;
}

.message-item {
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
}

.message-info > div {
  cursor: default;
}

.user-avatar img {
  height: 40px;
  width: 40px;
}

.message-form {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  border-style: none;
}

.message-form input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.message-form input[type="submit"] {
  display: none;
}

.main-content-header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
}

.main-content-header {
  justify-content: space-between;
  margin-top: 10px;
  height: 60px;
  padding-left: 20px;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  align-items: center;
  box-sizing: border-box;
}

.main-content-header h1 {
    width: 700px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    box-sizing: content-box;
}

.main-content-header button {
  height: 40px;
  width: 170px;
  margin-right: 20px;
  color: white;
  border: 1px solid #dcdcdc;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 17px;
  align-self: baseline;
}

.join {
  background-color: #249829;
}

.leave {
  background-color: red;
}


.message-info input[type='submit'] {
    border: 1px solid #868686;
    background-color: #249829;
    color: #ffffff;
    height: 100%;
    width: 80px;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}


.message-info input[type='text'] {
  border: 1px solid #868686;
  height: 100%;
  width: auto;
  border-radius: 5px;
  margin-right: 5px;
}


.message-info input[type='button'] {
  border: 1px solid #868686;
  height: 100%;
  width: 80px;
  border-radius: 5px;
  margin-right: 5px;
}


.message-info form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.author-options {
    margin-left: 5px;
    height: 15px;
    }


.author-options .fas {
    position: inherit;
}