// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chatroom-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.chatroom-container div {
    font-size: 20px;
}




button.load-button {
  width: 200px;
}


.message-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  box-sizing: border-box;
  padding-left: 10px;
}


.channel-info * {
  height: 20px;
}

span {
  font-size: 15px;
}

.message-list * {
  font-family: Lato,sans-serif;
}

.message-info div {
  display: flex;
  
}

.message-item div *{
  padding-right: 5px; 
}

.message-item {
  height: 66px;
  padding: 5px;
  display: flex;
}

.message-info > div {
    cursor: default;
}

.user-avatar img{
  height: 40px;
  width: 40px;
}


.message-form {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  border-style: none;

}

.message-form input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.message-form input[type="submit"] {
    display: none;
}

.main-content-header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50px;
}

.main-content-header {
  justify-content: space-between;
  height: 60px;
  padding-left: 20px;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  align-items: center;
}

.main-content-header button{
    height: 40px;
    width: 150px;
    margin-right: 20px;
    color: white;
}

.join {
  background-color: #249829;
}

.leave {
  background-color: red;
}

