// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chatroom-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}


.chatroom-container div {
  font-size: 20px;
}


button.load-button {
  width: 200px;
}


.message-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  box-sizing: border-box;
  padding-left: 10px;
}
