// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.side-bar-ol-presence {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.side-bar-ol-presence a {
    color: white;
}

.side-bar-ol-presence i {
    font-size: 35px;
}

a#angel-list {
    background: white;
    color: #3f0e40;
    border-radius: 35px;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

a#angel-list i {
    font-size: 32px;
}