/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    margin: 0;
    list-style: none;

}

footer img {
    height: 35px;
    width: 35px;
}

footer button {
    background: transparent;
    border: transparent;
}
footer a {
    text-decoration: none;
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    height: 40px;
}

.session-form-div {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 375px;
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    animation: fadeInForm 1s;
}

form.session-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 200px;
    justify-content: space-evenly;
}

header {
    display: flex;
    align-self: center;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10%;
}


.splash-content {
    position: absolute;
    z-index: 5;
    width: 100%;
}



header h1 {
    align-items: center;
}

.form-page{
    box-shadow: 2px 0px 2px #858585;
    width: 100%;
    padding: 0 10px;
}



h1 {
    font-family: 'Lato',sans-serif;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
}

header img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

header a.active {
    background: none;
    color: black;
}

.sign-links {
    display: flex;
    margin-left: auto;
    align-items: center;
}


.sign-links > a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    margin-right: 5px;
    height: 45px;
    width: 135px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #611f69;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size .5s;
}

.sign-links > a:hover {
    font-size: larger;
}

main#root {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.opening-page {
    height: 700px;
    display: flex;
    justify-content: center;
    /* background: white; */
}



h1 > a {
    font-family: 'Lato',sans-serif;
    text-decoration: none;
    color: black;
    cursor: default;
}


input {
    border: 1px solid #868686;
    border-radius: 3px;
    padding: 5px;
}

form.splash-form {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.splash-form > input {
    padding: 5px;
    font-family: 'Lato',sans-serif;
    height: 60px;
}

.splash-form > input[type="email"] {
    height: 60px;
    width: 360px;
    box-sizing: border-box;
    margin-right: 5px;
    padding-left: 10px;
}s

.splash-form input[type="submit"] {
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    width: 165px;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 1.25s steps(30, end), blink-caret .75s step-end infinite;;
    white-space: nowrap;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}


button {
    height: 30px;
    width: 100px;
    align-self: center;
    border-radius: 5px;
}

h2.user-greeting {
    margin-right: 10px;
}

.side-nav-bar {
    background-color: #3f0e40;
    width: 222px;
    flex: 0 0 222px;
    box-sizing: border-box;
    color: white;
}

.side-nav-bar * {
    cursor: pointer;
}



.channel-groups div {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.channel-groups li, .dm-groups li {
    display: flex;
    position: relative;
    width: 222px;
    height: 30px;
    align-items: center;
}

.channel-groups li:hover, .channel-groups h4:hover, .dm-groups li:hover {
    background-color: #350d36;
}

.side-nav-bar li.active {
    background-color: cornflowerblue;
}

.channel-groups h3 {
    padding: 15px 0 5px 15px;
}

.channel-groups a {
    text-decoration: none;
    color: #d0c3cf;
    padding-left: 15px;
    width: 222px;
    box-sizing: border-box;
}

a.active {
    background-color: #1164A3;
    color: white;
    animation: toActive 1s;
    font-weight: bolder;
    height: 100%;
    width: 222px;
    display: flex;
    align-items: center;
}


a, a.active, a:hover, a:focus{
    outline: 0;
    user-select: none;
}


.main-content-container {
    width: 100%;
    background-color: #ffffff;
}

.session-form-parent {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-errors {
    border: 1px solid rgba(255, 65, 65, 0.55);
    border-left: 5px solid rgba(255, 10, 10, 0.74);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 1px 0 rgba(255, 10, 10, 0.74);
    box-sizing: border-box;
    list-style: none;
    border-radius: 5px;
    background-color: white;
    animation: fadeIn 1s;
    width: 555px;
    align-self: center;
}

.session-errors ul{
    font-family: 'Lato',sans-serif;
}

@keyframes toActive {
   0% {opacity: 0;
    margin-bottom: 0px; 
    }
   50% {opacity: 1;
    margin-bottom: 20px; 
    }
    100% {opacity: 1;
    margin-bottom: 0px; 
    }
}

@keyframes fadeIn {
   0% {opacity: 0;
    margin-bottom: 0px; 
    }
   100% {opacity: 1;
    margin-bottom: 20px; 
    }
}

@keyframes fadeInListItem {
    
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeInForm {
   0% {opacity: 0; 
    }
   100% {opacity: 1;
    }
} 

.main-page {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    animation: fadeInForm 1s;
    box-sizing: border-box;
}

.dropdown-sidebar {
    position: relative;
    left: 15p;
    padding-top: 15px;
    padding-left: 15px;
}

.dropdown-sidebar:hover {
    background-color: #350d36;
}

.dropdown-sidebar-content, .dropdown-options-content{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 0px 25px;
}
.dropdown-options-content{
    top: 30px;
    left: 10px;
}

.dropdown-sidebar-content h3 {
    font-size: 15px;
}

.dropdown-sidebar-content * {
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.dropdown-sidebar-content h4 {
    font-size: 13px;
    padding: 0;
}


.drop-show2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
}

.drop-show2 button {
    height: 50px;
    width: 100px;
}

.drop-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 200px;
    top: 58px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid #dcdcdc;
    animation: fadeIn .5s;

}

.userInfo .active{
    font-weight: 900;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.userInfo {
    font-size: large;
    padding-bottom: 15px;
}

.userInfo h4 {
    padding-top: 5px;
    color: #c6b5c5;
    font-family: 'Lato', sans-serif;
}

.userInfo h4:hover, .userInfo img:hover {
    color: white;
}

.userInfo div {
    display: flex;
}

.userInfo img {
    width: 15px;
    height: 15px;
}


.channel-groups, .dm-groups {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #d0c3cf;
}

.channel-groups a:hover{
    color: white;
}




li {
    font-family: 'Lato', sans-serif;
}

.channel-groups li:focus {
    background-color: ghostwhite;
}

h4 {
    padding-top: 15px;
}

.channel-groups > h4 {
    padding: 15px;
}


/* MODAL */
.modal-background-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-background-button {
    position: fixed;
      top: 0;
  bottom: 0;
  right: 0;
  left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.create-form {
    height: 100vh;
    display: flex;
    animation: fadeIn .5s;
}

.create-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    animation: fadeInForm 1s;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.create-form label{
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
}

.create-form input[type="submit"] {
    background-color: #2aac76;
    color: #ffffff;
    font-size: 20px;
}

.inner-div {
        padding: 0px 25px 10px 25px;
    box-sizing: border-box;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


.inner-div p {
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
}

.create-form > div {
    display: flex;
    background-color: white;
    height: 50%;
    width: 50%;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
}

.inner-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inner-form * {
    margin-top: 20px;
}

.fas {
    align-self: flex-end;
    position: relative;
    top: 5px;
    right: 5px;
}

.far{
    font-size: 15px;
    margin-right: 5px;
}

.fas:hover {
    color: red;
}

/* MODAL */


.message-list, .message-form{
  border-style: none;
}



.dm-groups h3 {
    padding: 15px 0 5px 15px;
}

.dm-groups > div {display: flex;justify-content: space-between;box-sizing: border-box;}

i.fas.fa-plus-circle {
    align-self: center;
}

.channel-groups .chat-name, .dm-groups .chat-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    display: inline-block;
}
