/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    margin: 0;

}

.session-form-div {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 375px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: auto;
    background: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    justify-content: space-evenly;
    align-items: center;
}

form.session-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 200px;
    justify-content: space-evenly;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 55px;
    padding-left: 55px;
    background: white;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 70px;
    box-sizing: border-box;
}

h1 {
    font-family: Oswald;
    font-weight: bolder;
    font-size: x-large;
}



.sign-links {
    margin-left: 0 auto;
    display: flex;
    margin-left: auto;
    align-items: center;
}

main#root {

    height: 700px;
    background-color: #f8f8f8;
}

.opening-page {
    height: inherit;
    display: flex;
}
