/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    margin: 0;

}

.session-form-div {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 375px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: auto;
    background: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    animation: fadeInForm 1s;
}

form.session-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 200px;
    justify-content: space-evenly;
}

header {
    width: 80%;
    display: flex;
    align-items: center;
    padding-right: 10%;
    border: 0px 100px;
    padding-left: 10%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}


.splash-content {
    position: absolute;
    z-index:5;
}



header h1 {
    align-items: center;
}

.form-page{
    border-bottom: 1px solid slategray;
    box-shadow: 2px 0px 2px slategray;
}



h1 {
    font-family: Lato,sans-serif;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
}

header img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.sign-links {
    display: flex;
    margin-left: auto;
    align-items: center;
}


.sign-links > a {
    color: #ffffff;
    text-decoration: none;
    font-family: Lato, sans-serif;
    padding: 8px;
    margin-right: 5px;
    height: 45px;
    width: 135px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #611f69;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size .5s;
}

.sign-links > a:hover {
    font-size: larger;
}

main#root {height: 100vh;background-color: white;}

.opening-page {
    height: 700px;
    display: flex;
    justify-content: center;
    /* background: white; */
}



h1 > a {
    font-family: Lato,sans-serif;
    text-decoration: none;
    color: black;
    cursor: default;
}


input {
    border: 1px solid #868686;
    border-radius: 3px;
    padding: 5px;
}

form.splash-form {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.splash-form > input {
    padding: 5px;
    font-family: Lato,sans-serif;
    height: 60px;
}

.splash-form > input[type="email"] {
    height: 60px;
    width: 360px;
    box-sizing: border-box;
    margin-right: 5px;
    padding-left: 10px;
}s

.splash-form input[type="submit"] {
    font-size: x-large;
    font-family: Lato, sans-serif;
    font-weight: bolder;
    width: 165px;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 2s steps(30, end), blink-caret .75s step-end infinite;;
    white-space: nowrap;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}


button {
    height: 30px;
    width: 100px;
}

h2.user-greeting {
    margin-right: 10px;
}

.side-nav-bar {
    background-color: #6e2142;
    width: 222px;
    box-sizing: border-box;
    padding-left: 15px;
    color: white;
}

.main-content-container {
    width: 100%;
    background-color: #ffffff;
}

.session-form-parent {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.session-errors {
    border: 1px solid rgba(255, 65, 65, 0.55);
    border-left: 5px solid rgba(255, 10, 10, 0.74);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 1px 0 rgba(255, 10, 10, 0.74);
    box-sizing: border-box;
    list-style: none;
    border-radius: 5px;
    background-color: white;
    animation: fadeIn 1s;

}

.session-errors ul{
    font-family: Lato,sans-serif;
}

@keyframes fadeIn {
   0% {opacity: 0;
    margin-bottom: 0px; 
    }
   100% {opacity: 1;
    margin-bottom: 20px; 
    }
}

@keyframes fadeInForm {
   0% {opacity: 0; 
    }
   100% {opacity: 1;
    }
} 

.main-page {
    display: flex;
    height: 100vh;
    animation: fadeInForm 1s;
}

.dropdown-sidebar {
    position: relative;
    padding-top: 15px;
}

.dropdown-sidebar-content{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 0px 25px;
    /* padding-top: 20px; */
}

.dropdown-sidebar-content h3 {
    font-size: 15px;
}

.dropdown-sidebar-content h4 {
    font-size: 13px;
    padding: 0;
}


.drop-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    left: 10px;
    color: black;
    border: 1px solid slategray;
}

.userInfo .active{
    font-weight: 900;
}

h3 {

    font-family: Lato, sans-serif;
    font-weight: bolder;
}

.userInfo {
    font-size: large;
    padding-bottom: 15px;
}

.userInfo h4 {
    padding-top: 5px;
    color: #c6b5c5;
}

.userInfo h4:hover{
    color: white;
}


.channel-groups {
    padding-top: 15px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #d0c3cf;
}

.channel-groups li:hover, h3:hover, h4:hover {
    color: white;
}

li {
    font-family: Lato, sans-serif;
    padding-top: 15px;
}

h4 {
    padding-top: 15px;
}


/* MODAL */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.create-form {
    height: 100vh;
    display: flex;
}

.create-form > div {
    display: flex;
    background-color: white;
    height: 50%;
    width: 50%;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
}

.inner-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inner-form * {
    margin-top: 20px;
}

.fas {
    align-self: flex-end;
    position: relative;
    top: 5px;
    right: 5px;
}

.fas:hover {
    color: red;
}

/* MODAL */
