.splash-content1 {
    display: flex;
    height: 40%;
    width: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    animation: fadeInForm 1s;
}

.splash-content h1 {
    font-size: 55px;
    margin-bottom: 10px;
    text-align: center;
}

.splash-form input[type="submit"] {
    background-color: #611f69;
    color: white;
    display: flex;
    padding: 5px 15px;
}

.splash-content1 p {
    font-size: 25px;
    text-align: center;
    margin: 0px 100px;
}

.splash-content{
  position: absolute;
  z-index:10;
  height: 1500px;
}

.splash-collabs {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.splash-collabs h1 {
    margin-bottom: 50px;
}

.feat-selection {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
}

.features-options li {
    width: 205px;
    height: 80px;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.splash-bg > div{
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 2;
}

.splash-bg img {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}

/* positions */

.alexa{
  top: 200px;
  left: 500px;
 z-index: 2;
}

.apple{
  top: 500px;
  left: 200px;
 z-index: 2;
}

.babel{
  top: 300px;
  left: 100px;
 z-index: 2;
}

.ruby{
  top: 200px;
  right: 500px;
 z-index: 2;
}

.webpack{
  top: 150px;
  right: 700px;
 z-index: 2;
}

.rubyGem{
  top: 500px;
  right: 300px;
 z-index: 2;
}

.dropbox {
  top: 400px;
  right: 500px;
 z-index: 2;
}

.splash-bg > div > img {
  animation: xAxis 10s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}

.splash-bg > div {
  animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

/* .alexa2 {
  animation: 5s linear infinite;
} */

/* .alexa2::after{
  content:'';
  animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
} */



@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(50px);
  }
}

@keyframes yAxis {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-50px);
  }
}



