.splash-content{
  position: absolute;
  z-index: 11;

}

.splash-bg > div{
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 2;
}

.splash-bg img {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}

/* positions */

.alexa{
  top: 200px;
  left: 500px;
 z-index: 2;
}

.apple{
  top: 500px;
  left: 200px;
 z-index: 2;
}

.babel{
  top: 300px;
  left: 100px;
 z-index: 2;
}

.ruby{
  top: 200px;
  right: 500px;
 z-index: 2;
}

.webpack{
  top: 150px;
  right: 700px;
 z-index: 2;
}

.rubyGem{
  top: 500px;
  right: 300px;
 z-index: 2;
}

.dropbox {
  top: 400px;
  right: 500px;
 z-index: 2;
}

.splash-bg > div > img {
  animation: xAxis 10s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}

.splash-bg > div {
  animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

/* .alexa2 {
  animation: 5s linear infinite;
} */

/* .alexa2::after{
  content:'';
  animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
} */



@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(50px);
  }
}

@keyframes yAxis {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-50px);
  }
}



